.slider-box{
  width:900px;
  height:280px;
  overflow:hidden;
  margin: 80px auto;
}
.slider{
  position:relative;
  width:1000px;
  height:280px;
}
.slider img{
  float:left;
  z-index:0;
}

.clearfix {
	content: "";
	display: block;
	clear: both;
}